<header class="header">
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img class="navbar-brand-icon" src="/images/nav-brand.png" alt="brand">
					Курсы
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link active" href="/">Главная <span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link" href="/#content">Лекции</a>
						<a class="nav-item nav-link" href="/#test">Тесты</a>
						<a class="nav-item nav-link" href="#">Контакты</a>
					</div>


					<div class="header__search-container">

						<div class="search-holder">
							<div class="circle"></div>
							<div class="form">
								<div class="search-button"></div>
								<input type="text" class="search-input" id="search-input" placeholder="Поиск ..." autocomplete="off"/>
							</div>
						</div>

						<ul id="results-container" class="header__result-container"></ul>
					</div>
					

				</div>

			</div>
		</nav>
		
</header>