@import 'bootstrap-variables.scss';
@import 'mixin.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


// Переменные
$white: #FFFFFF;
$yellow: #fbd895;
$red: #d90000;
$blue: #0066ff;
$black: #000000;
$gray: #4b4b4b;
$ltgray: #DDDDDD;
$ltblue: #0c89c9;
$green: #2f9e44;



/*==============================
	MEDIA QUERIES
==============================*/

// Лечим IE10+
@media (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .team__set {
    font-size: 0;
    &,
    .col-card {
      display: inline-block;
    }
  }
  figcaption {
    display: block;
  }
  p,
  .include__data {
    flex: 0 1 auto;
  }
}

_:-ms-fullscreen,
 :root figcaption {
  display: flex;
}

*{
  font-family: 'PT Sans', sans-serif;
}

a {
  color: $ltblue;
  transition: .6s;
}

img {
  max-width: 100%;
  height: auto;
}
.page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500;
  .spinner {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .spinner:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  
  .spinner:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
}
.button {
  border: none;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.hr {
  border-top: 3px solid rgba(33,37,41,1);
  width: 70%;
}

.header {
  display: block;
  background-color: #eee;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 500;
  &__result-container {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    margin-top: 10px;
    padding: 0;
    max-width: 300px;
    border-radius: 5px;
    display: none;
    border: 1px solid $black;
    li {
      list-style-type: none;
      margin: 5px;
      padding: 5px 10px;
      a {
        color: $ltblue;
      }
    }
  }
  &__result-container.active {
    display: inline-block;
  }
  .navbar-brand-icon {
    margin-right: 10px;
  }
  .bg-dark {
    background-color: rgba($color: #343a40, $alpha: 0.6) !important;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .nav-link {
    z-index: 5;
    font-size: 20px;
  }
  .navbar-nav {
    margin-right: 15px;
  }
  
  .navbar-collapse {
    padding: 15px 0;
  }

  .search-holder {
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button {
    position: absolute;
    right: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.28);
    width: 60px;
    height: 60px;
    background-color: $ltblue;
    border-radius: 50%;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    background-image: url(/images/search-w.png); /* PNG для IE6-8 */
    background-image: url(/images/search-w.svg), none;
  }
  
  .search-holder {
    &.active .search-button {
      box-shadow: none;
      background-color: #fff;
      background-image: url(/images/search-b.png); /* PNG для IE6-8 */
      background-image: url(/images/search-b.svg), none;
      transition: background-color .2s ease;
      -webkit-transition: background-color .2s ease;
      transition-delay: .1s;
    }
    .search-input {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: $ltblue;
      text-align: left;
      border: 0;
      box-shadow: none;
      outline: none;
      transform: translate(0, 55px);
      transition: transform .4s ease;
      font-size: 1em;
      padding: 0 20px;
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .search-input::-webkit-input-placeholder {
    color: $ltblue;
  }
  
  .search-holder.active .search-input {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    transition: transform .4s ease, opacity .2s ease;
    -webkit-transition: transform .4s ease, opacity .2s ease;
    transition-delay: .3s;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    z-index: 10;
    background-color: $ltblue;
    transition: width .4s ease, background-color .4s ease;
    -webkit-transition: width .4s ease, background-color .4s ease;
  }
  
  .search-holder.active .form {
    background-color: #fff;
    width: 300px;
    transition: width .4s ease, background-color .4s ease;
    -webkit-transition: width .4s ease, background-color .4s ease;
  }
}

.section-main {
  background-image: url(/images/main-bcg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__header {
    text-align: center;
    padding: 50px 15px;
    background-color: rgba($white, .6);
    border-radius: 5px;
    h1 {
      font-size: 50px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 26px;
    }
  }
  .link-yak {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    font-size: 60px;
    cursor: pointer;
    &__font {
      color: rgba($white, .6);
      transition: color .4s;
      &:hover {
        color: $ltblue;
      }
    }
  }
  .link-yak.second-yak {
    transform: translate(-50%, -170%);
    top: 50%;
    left: 50%;
  }
}

.section-main.second-main {
  background-image: url(/images/main-bcg2.jpg);
}

.second-main {
  &__header {
    padding: 40px 15px;
    h2 {
      margin-bottom: 25px;
    }
    a {
      color: $gray;
      position: relative;
      color: inherit;
      text-decoration: none;
    }
    a:before, a:after, a > span:before, a > span:after {
      content: '';
      position: absolute;
      transition: transform .5s ease;
    }
    .effect-2 {
      padding: 10px;
    }
    .effect-2:before, .effect-2:after {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-style: solid;
      border-color: $ltblue;
    }
    .effect-2:before {
      border-width: 2px 0 2px 0;
      transform: scaleX(0);
    }
    .effect-2:after {
      border-width: 0 2px 0 2px;
      transform: scaleY(0);
    }
    .effect-2:hover:before, .effect-2:hover:after {
      transform: scale(1, 1);
    }
    h3 {
      margin: 5px 10px;
      font-size: 1.5rem;
    }
    @media screen and (max-width: 768px) {
      h3 {
        width: 100%;
      }
    }
  }
}

.header.glide {
  img {
    max-width: 45px;
  }
  
  .navbar {
    max-height: 60px;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .nav-link {
    z-index: 5;
    font-size: 18px;
  }
  .search-button {
    width: 50px;
    height: 50px;
  }
  .search-input {
    height: 50px;
  }
  .form {
    height: 50px;
    width: 50px;
  }
  .search-holder {
    .circle {
      clip-path: circle(20px at 50% 50%);
    }
    &.active .circle {
      clip-path: circle(100% at 50% 50%);
      transition: clip-path .4s ease-in;
      -webkit-transition: clip-path .4s ease-in;
    }
  }
}

.section-content {
  min-height: 100vh;
  background-color: $white;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $gray;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .main-ul {
    padding: 0;
    margin-top: 30px;
    .main-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      .main-icon {
        font-size: 4rem;
        padding-right: 15px;
        color: $ltblue;
      }
    }
    h3 {
      color: $ltblue;
      margin-bottom: 0;
    }
    li {
      list-style-type: none;
      margin-top: 15px;
      a {
        color: $gray;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        transition: color .4s;
        &:hover {
          color: $ltblue;
        }
      }
    }
  }
  .sub-ul {
    li {
      list-style-type: none;
      margin-top: 15px;
      a {
        color: $gray;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        transition: color .7s;
        &:hover {
          color: $red;
        }
      }
    }
  }
}


.section-syntax {
  padding-top: 110px;
  h2 {
    font-weight: bold;
  }
  h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .tag {
    font-weight: bold;
    color: $blue;
  }
  .keyword {
    color: $gray;
    background-color: $yellow;
    padding: 0 5px;
    border: 1px solid $ltgray;
  }
  .attribute {
    color: $red;
  }

  &__head {
    color: $ltblue;
  }

  &__table {
    border: 2px solid $black;
    caption {
      text-align: right;
    }
    tr {
      border: 1px solid $black;
    }
    th {
      border: 1px solid $black;
      padding: 5px;
    }
    td {
      border: 1px solid $black;
      padding: 5px;
    }
  }
  .btn-span {
    background-color: $ltgray;
    padding: 0 3px;
    border: 1px solid $gray;
  }
  .exampleTitle, .exampleTitle2 {
    font-size: 18px;
    font-weight: bold;
    color: $gray;
  }
  .example {
    background-color: $yellow;
    padding: 5px;
  }
  .figsign {
    font-style: italic;
    color: $gray;
  }
  .code-wrap {
    span {
      margin-left: 25px;
    }
  }
  .fig {
    margin: 0px;
  }

  .important {
    border: 2px solid $ltgray;
    border-radius: 5px;
    margin: 15px 0px;
    padding: 20px;
    &__type {
      position: relative;
      padding-left: 35px;
      margin: 10px 0px;
      display: inline-block;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(/images/attention.png);
        background-position: center;
        background-size: cover;
        height: 25px;
        width: 25px;
      }
    }
  }
  .function-execution-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    li {
      border: 1px solid black;
      padding: 3px 5px;
      margin-bottom: 5px;
      &:last-child {
        font-weight: bold;
      }
    }
  }
  code {
    padding: 2px 4px;
    background-color: #f5f2f0;;
  }
}

.section-test {
  padding: 130px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__test-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: bold;
      color: $ltblue;
    }
  }
  &__result {
    text-align: center;
    font-size: 22px;
    .true {
      color: $green;
      text-transform: uppercase;
      font-weight: bold;
    }
    .false {
      color: $red;
      font-weight: bold;
    }
  }
  &__timer {
    font-size: 20px;
    font-weight: bold;
    span {
      color: $red;
    }
  }
  &__options {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 0px;
  }
  &__quest {
    font-size: 26px;
    font-weight: bold;
    color: $black;
    width: 100%;
    text-align: center;
  }
  .start-btn {
    background-color: $ltblue;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    color: $white;
    transition: .6s;
    border: 2px solid $ltblue;
    text-decoration: none;
    margin-bottom: 15px;
    &:hover {
      background-color: $white;
      border: 2px solid $ltblue;
      color: $ltblue;
    }
  }
  .back-btn {
    background-color: $red;
    color: $white;
    border: 2px solid $red;
    &:hover {
      background-color: $white;
      border: 2px solid $red;
      color: $red;
    }
  }
  .test-option {
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    font-size: 20px;
    color: $black;
    background: $ltgray;
    padding: 4px 8px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .6s;
    outline: none;
    margin-bottom: 10px;
    &:hover {
      background-color: $ltblue;
      color: $white;
    }
    &:hover, &:active, &:focus {
      outline: none;
    }
  }
}

#option1,#option2,#option3,#option4{
	display:none;
}


.disNone {
  display: none;
}

.section-contacts {
  text-align: center;
  background-image: none;
  background-color: $white;
  position: relative;
  color: $gray;

  &__my-form {
    width: 100%;
    
    input {
      width: 100%;
      height: 40px;
      padding: 10px;
      border: 1px solid $black;
      background: $white;
    }
    textarea {
      padding: 10px;
      width: 100%;
      height: 140px;
      resize: none;
      border: 1px solid $black;
      background: $white;
    }
    button {
      height: 40px;
      padding: 0 50px;
      background: $gray;
      border: none;
      color: #FFFFFF;
      font-size: 1.6rem;
      cursor: pointer;
      -webkit-transition: .7s;
      -o-transition: .7s;
      transition: .7s;
      margin: 0 auto;
      &:hover {
        background: rgba($color: $black, $alpha: 1);
        color: $white;
      }
    }
    input, textarea, button {
      border-radius: 4px;
      outline: 0;
      margin-top: 2rem;
    }
  }
  .social-links {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    a {
      padding: 1rem;
      color: $gray;
      font-size: 2rem;
      &:hover {
        text-decoration: none;
      }
    }
    .fa-twitter:hover {
      color: #00aced;
    }
    .fa-vk:hover {
      color: #507299;
    }
    .fa-telegram-plane:hover {
      color: #0088cc;
    }
  }
  .anime-link {
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  .my-email {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $gray;
    .email-logo {
      font-size: 2rem;
    }
    a {
      color: $ltblue;
      text-decoration: none;
      font-size: 24px;
    }
  }
}

.sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .pagin-btn {
    cursor: pointer;
    font-size: 50px;
    padding: 30px;
    z-index: 200;
  }
}

.left-side {
  left: 0;
}
.right-side {
  right: 0;
}

.cool-link {
  margin: 5px 0;
  a {
    position: relative;
    text-decoration: none;
    transition: 0.4s ease-in-out;
  }
  &:hover a {
    color: $gray;
  }
  a::before {
    position: absolute;
    content: "";
    bottom: -5px;
    width: 0;
    height: 3px;
    background: $red;
    transition: 0.4s ease-in-out;
  }
  &.right-to-left:hover a::before, &.left-to-right:hover a::before, &.center-to-side:hover a::before {
    width: 100%;
  }
  &.left-to-right a::before {
    left: 0;
  }
  &.right-to-left a::before {
    right: 0;
  }
  &.center-to-side a::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 480px) {
  .section-test__result {
    font-size: 14px;
  }
  .section-test__options {
    padding: 20px 0;
  }
  .section-test .test-option {
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
  }
  .section-test__test-content {
    h1 {
      font-size: 30px;
    }
  }
  .section-test__timer {
    font-size: 16px;
  }
  .section-test__quest {
    font-size: 20px;
  }
  
  .section-main__header {
    padding: 25px 10px;
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
    hr {
      width: 50%;
    }
  }
  .section-syntax__table {
    font-size: 10px;
  }
  .section-syntax__content {
    font-size: 14px;
    ul {
      padding-left: 25px;
    }
  }
  .second-main__header {
    h2 {
      margin-bottom: 15px;
      font-size: 24px;
    }
    .flex-row {
      flex-direction: column !important;
      h3 {
        margin-bottom: 22px;
        font-size: 26px;
      }
    }
  }
}
  
@media screen and (max-width: 768px) {
  .main-ul {
    text-align: center;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .nav-link {
    font-size: 16px;
  }
  .sidebar {
    height: 100px;
    bottom: 0;
  }
  .pagin-btn {
    position: absolute;
    font-size: 40px !important;
  } 
  .next-btn {
    right: 40px;
  }
  .prev-btn {
    left: 40px;
  }
}

@media screen and (max-width: 992px) {
  .header .navbar-nav {
    margin-right: 0;
  }
  .header .bg-dark {
    background-color: rgba(52, 58, 64, 1) !important;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}