@import 'bootstrap-variables.scss';
@import 'mixin.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


// Переменные
$white: #FFFFFF;
$yellow: #fbd895;
$red: #d90000;
$blue: #0066ff;
$black: #000000;
$gray: #4b4b4b;
$ltgray: #DDDDDD;



/*==============================
	MEDIA QUERIES
==============================*/

// Лечим IE10+
@media (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .team__set {
    font-size: 0;
    &,
    .col-card {
      display: inline-block;
    }
  }
  figcaption {
    display: block;
  }
  p,
  .include__data {
    flex: 0 1 auto;
  }
}

_:-ms-fullscreen,
 :root figcaption {
  display: flex;
}

*{
  font-family: 'PT Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
.page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500;
  .spinner {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .spinner:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  
  .spinner:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
}
.button {
  border: none;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.hr {
  border-top: 3px solid rgba(33,37,41,1);
  width: 70%;
}

.header {
  display: block;
  background-color: #eee;
  position: relative;
  margin: 0;
  padding: 0;
  &__result-container {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    margin-top: 10px;
    padding: 0;
    max-width: 300px;
    border-radius: 5px;
    li {
      list-style-type: none;
      margin: 5px;
      padding: 5px 10px;
      a {
        color: rgba(33,37,41,1);
      }
    }
  }
  .navbar-brand-icon {
    margin-right: 10px;
  }
  .bg-dark {
    background-color: rgba($color: #343a40, $alpha: 0.6) !important;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .nav-link {
    z-index: 5;
    font-size: 20px;
  }
  .navbar-nav {
    margin-right: 15px;
  }
  .search-holder {
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #0c89c9;
      clip-path: circle(30px at 50% 50%);
      transition: clip-path .4s ease-in;
      -webkit-transition: clip-path .4s ease-in;
      z-index: 2;
    }
    &.active .circle {
      clip-path: circle(100% at 50% 50%);
      transition: clip-path .4s ease-in;
      -webkit-transition: clip-path .4s ease-in;
    }
  }
  
  .search-button {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.28);
    width: 60px;
    height: 60px;
    background-color: #0c89c9;
    border-radius: 50%;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDU2Ljk2NiA1Ni45NjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDU2Ljk2NiA1Ni45NjY7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMTI4cHgiIGhlaWdodD0iMTI4cHgiPgo8cGF0aCBkPSJNNTUuMTQ2LDUxLjg4N0w0MS41ODgsMzcuNzg2YzMuNDg2LTQuMTQ0LDUuMzk2LTkuMzU4LDUuMzk2LTE0Ljc4NmMwLTEyLjY4Mi0xMC4zMTgtMjMtMjMtMjNzLTIzLDEwLjMxOC0yMywyMyAgczEwLjMxOCwyMywyMywyM2M0Ljc2MSwwLDkuMjk4LTEuNDM2LDEzLjE3Ny00LjE2MmwxMy42NjEsMTQuMjA4YzAuNTcxLDAuNTkzLDEuMzM5LDAuOTIsMi4xNjIsMC45MiAgYzAuNzc5LDAsMS41MTgtMC4yOTcsMi4wNzktMC44MzdDNTYuMjU1LDU0Ljk4Miw1Ni4yOTMsNTMuMDgsNTUuMTQ2LDUxLjg4N3ogTTIzLjk4NCw2YzkuMzc0LDAsMTcsNy42MjYsMTcsMTdzLTcuNjI2LDE3LTE3LDE3ICBzLTE3LTcuNjI2LTE3LTE3UzE0LjYxLDYsMjMuOTg0LDZ6IiBmaWxsPSIjRkZGRkZGIi8+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
  }
  
  .search-holder {
    &.active .search-button {
      box-shadow: none;
      background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDU2Ljk2NiA1Ni45NjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDU2Ljk2NiA1Ni45NjY7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMTI4cHgiIGhlaWdodD0iMTI4cHgiPgo8cGF0aCBkPSJNNTUuMTQ2LDUxLjg4N0w0MS41ODgsMzcuNzg2YzMuNDg2LTQuMTQ0LDUuMzk2LTkuMzU4LDUuMzk2LTE0Ljc4NmMwLTEyLjY4Mi0xMC4zMTgtMjMtMjMtMjNzLTIzLDEwLjMxOC0yMywyMyAgczEwLjMxOCwyMywyMywyM2M0Ljc2MSwwLDkuMjk4LTEuNDM2LDEzLjE3Ny00LjE2MmwxMy42NjEsMTQuMjA4YzAuNTcxLDAuNTkzLDEuMzM5LDAuOTIsMi4xNjIsMC45MiAgYzAuNzc5LDAsMS41MTgtMC4yOTcsMi4wNzktMC44MzdDNTYuMjU1LDU0Ljk4Miw1Ni4yOTMsNTMuMDgsNTUuMTQ2LDUxLjg4N3ogTTIzLjk4NCw2YzkuMzc0LDAsMTcsNy42MjYsMTcsMTdzLTcuNjI2LDE3LTE3LDE3ICBzLTE3LTcuNjI2LTE3LTE3UzE0LjYxLDYsMjMuOTg0LDZ6IiBmaWxsPSIjMmJhZGQ4Ii8+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
      background-color: #fff;
      transition: background-color .2s ease;
      -webkit-transition: background-color .2s ease;
      transition-delay: .1s;
    }
    .search-input {
      background-color: transparent;
      height: 60px;
      color: #0c89c9;
      text-align: left;
      border: 0;
      box-shadow: none;
      outline: none;
      transform: translate(0, 55px);
      transition: transform .4s ease;
      font-size: 1em;
      padding: 0 20px;
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .search-input::-webkit-input-placeholder {
    color: #0c89c9;
  }
  
  .search-holder.active .search-input {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    transition: transform .4s ease, opacity .2s ease;
    -webkit-transition: transform .4s ease, opacity .2s ease;
    transition-delay: .3s;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    z-index: 10;
    background-color: #0c89c9;
    transition: width .4s ease, background-color .4s ease;
    -webkit-transition: width .4s ease, background-color .4s ease;
  }
  
  .search-holder.active .form {
    background-color: #fff;
    width: 300px;
    transition: width .4s ease, background-color .4s ease;
    -webkit-transition: width .4s ease, background-color .4s ease;
  }
}

.section-main {
  background-image: url(/images/main-bcg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__header {
    text-align: center;
    padding: 50px 15px;
    background-color: rgba($white, .6);
    border-radius: 5px;
    h1 {
      font-size: 50px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 26px;
    }
  }
  .link-yak {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    font-size: 60px;
    cursor: pointer;
    &__font {
      color: rgba($white, .6);
    }
  }
}

.header.glide {
  img {
    max-width: 45px;
  }
  
  .navbar {
    max-height: 60px;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .nav-link {
    z-index: 5;
    font-size: 18px;
  }
  .search-button {
    width: 50px;
    height: 50px;
  }
  .search-input {
    height: 50px;
  }
  .form {
    height: 50px;
    width: 50px;
  }
  .search-holder {
    .circle {
      clip-path: circle(20px at 50% 50%);
    }
    &.active .circle {
      clip-path: circle(100% at 50% 50%);
      transition: clip-path .4s ease-in;
      -webkit-transition: clip-path .4s ease-in;
    }
  }
}

.section-content {
  min-height: 100vh;
  background-color: $white;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .main-ul {
    padding: 0;
    margin-top: 30px;
    li {
      list-style-type: none;
      margin-top: 15px;
      a {
        color: $gray;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        transition: color .7s;
        &:hover {
          color: $red;
        }
      }
    }
  }
  .sub-ul {
    li {
      list-style-type: none;
      margin-top: 15px;
      a {
        color: $gray;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        transition: color .7s;
        &:hover {
          color: $red;
        }
      }
    }
  }
}


.section-syntax {
  padding-top: 110px;
  h2 {
    font-weight: bold;
  }
  h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .tag {
    font-weight: bold;
    color: $blue;
  }
  .keyword {
    color: $gray;
    background-color: $yellow;
    padding: 0 5px;
    border: 1px solid $ltgray;
  }
  .attribute {
    color: $red;
  }

  &__table {
    border: 2px solid $black;
    caption {
      text-align: right;
    }
    tr {
      border: 1px solid $black;
    }
    th {
      border: 1px solid $black;
      padding: 5px;
    }
    td {
      border: 1px solid $black;
      padding: 5px;
    }
  }
  .btn-span {
    background-color: $ltgray;
    padding: 0 3px;
    border: 1px solid $gray;
  }
  .exampleTitle, .exampleTitle2 {
    font-size: 18px;
    font-weight: bold;
    color: $gray;
  }
  .example {
    background-color: $yellow;
    padding: 5px;
  }
  .figsign {
    font-style: italic;
    color: $gray;
  }
  .code-wrap {
    span {
      margin-left: 25px;
    }
  }
  .fig {
    margin: 0px;
  }

  .important {
    border: 2px solid $ltgray;
    border-radius: 5px;
    margin: 15px 0px;
    padding: 20px;
    &__type {
      position: relative;
      padding-left: 35px;
      margin: 10px 0px;
      display: inline-block;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(/images/attention.png);
        background-position: center;
        background-size: cover;
        height: 25px;
        width: 25px;
      }
    }
  }
  .function-execution-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    li {
      border: 1px solid black;
      padding: 3px 5px;
      margin-bottom: 5px;
      &:last-child {
        font-weight: bold;
      }
    }
  }
  code {
    padding: 2px 4px;
    background-color: #f5f2f0;;
  }
}
