<!DOCTYPE html>
<html lang="ru">
  <head>
    {% include meta.html %}

    <title>{{ page.title }}</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="/index.css?{{ "now" | date: "%Y%m%d%H%M%s"}}" rel="stylesheet">
  </head>
  <body>

  {{ content }}
  
  </body>
</html>
